/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Index.html
*/

/* -----------------------------------------
   Font Faces
----------------------------------------- */

@font-face {
  font-family: 'proxima_nova_regular';
  src:         url('proximanova-regular-webfont.eot');
  src:         url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
               url('proximanova-regular-webfont.woff') format('woff'),
               url('proximanova-regular-webfont.ttf') format('truetype'),
               url('proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style:  normal;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
  margin-bottom: 7px;
  padding-right: 2px !important;
}

h1, h2, h3, h4, h5 {
  color:       #111111;
  font-family: "proxima_nova_regular", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.subheader {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h5 {
  padding-top: 5px;
}

li.active a {
  color: #000000 !important;
}

#pageHeader h1 {
  display:     block;
  margin:      0 0 0 12px;
  white-space: nowrap;
}

#pageHeader h1 a {
  font-family:    Candara, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight:    100;
  font-size:      28px;
  letter-spacing: 2px;
  color:          #000000;
}

#pageHeader h1:before {
  content: url('../img/Younionlogo.png') !Important;
  float:   left !Important;
  z-index: 3;
  margin:  5px -31px 0 -15px !Important;
  padding: 0 !Important;
}

#pageHeader h1:first-letter {
  color: transparent !important;
}

.nav-bar li {
  border:    none !important;
  padding:   0;
  min-width: 90px;
}

.nav-bar li a {
  font-size: 16px !important;
  color:     #666666;
  padding:   0 32px 0 0 !important;
}

.nav-bar li a:hover {
  color: #000000;
}

.nav-bar li:hover {
  background-color: transparent;
}

.article {
  text-align: center;
}

ul.breadcrumbs a:hover {
  text-decoration: none;
}

/* -----------------------------------------
   Footer Unit */

.footer-unit {
  margin:           41px 0 7px;
  padding:          0;
  background-color: #ffffff;
}

#footerNavigation {
  padding-right: 0;
  min-width:     290px;
}

#footerNavigation ul {
  list-style-type: none;
  float:           left;
  line-height:     25px;
  padding:         5px 0;
  margin-bottom:   0;
  white-space:     nowrap;
}

#footerNavigation ul li {
  white-space:  nowrap;
  display:      inline;
  margin-left:  3px;
  margin-right: 15px;
}

#footerNavigation ul li a {
  font-size: 12px;
}

#footerNavigation ul li a:hover {
  color: #000000;
}

#footerNavigation ul:last-child {
  margin-right: 0;
}

#footerLogoPlacer {
  float:        left;
  height:       25px;
  width:        87px;
  padding:      0;
  margin-right: 31px;
  margin-top:   5px;
}

#footerDisclaimer {
  font-size:   11px;
  color:       #999999;
  padding:     0 3px;
  line-height: 16px;
}

/* -----------------------------------------
   Page index.html
----------------------------------------- */

.hero-unit .row {
  position: relative;
  height:   445px;
}

#hero h1 {
  font-size:      38px;
  line-height:    43px;
  letter-spacing: -1px;
}

#hero h3 {
  margin-top: 16px;
}

#hero h4 {
  padding-top: 0;
  font-size:   20px;
  font-weight: 200;
  line-height: 27px;
  color:       inherit;
}

#mainBanner {
  background-color: transparent;
  padding:          0;
  max-height:       422px;
  max-width:        548px;
}

/* -----------------------------------------
   Orbit FIX ----------------------------------------- */
#playContent {
  background: url("../img/ajax-loader.gif") center center #ffffff no-repeat;
  height:     422px;
}
#playContent img {
  display: none;
}
#playContent.orbit img {
  display: block;
}
/* -----------------------------------------
   Orbit FIX ----------------------------------------- */

.articleIcon {
  height:    128px;
  border:    1px none;
  width:     100%;
  min-width: 128px;
}

.article h4 {
  font-size:   20px;
  font-weight: 400;
}

/*
#bprimg {
  height: 445px;
  width: 100%;
  background: url('../img/Business Process Review.jpg') no-repeat top center transparent;
  min-width: 610px;
}


#seeBusinessModels {
  background: url('../img/icons/Search.png') no-repeat top center transparent;
}

#seeBusinessResults  {
  background: url('../img/icons/Task Manager.png') no-repeat top center transparent;
}

#seeBusinessImprovement {
  background: url('../img/icons/Lightbulb.png') no-repeat top center transparent;
}

#seeBusinessDeployment {
  background: url('../img/icons/MSN.png') no-repeat top center transparent;
}
*/

/* -----------------------------------------
   Page contato.html
----------------------------------------- */

#seeLocationMaps {
  background: url('../img/icons/Home.png') no-repeat top center transparent;
}

#seeSupport {
  background: url('../img/icons/Mouse.png') no-repeat top center transparent;
}

#seeEmails {
  background: url('../img/icons/IM.png') no-repeat top center transparent;
}

/* -----------------------------------------
   Page descubra.html
----------------------------------------- */

/* -----------------------------------------
   Page soluções.html
----------------------------------------- */

.mainSection article h5 {
  cursor: pointer;
  color:  #2ba6cb;
}

.mainSection article h5::before {
  content: "»";
  color:   #333333;
}

.mainSection article h5:hover {
  color: #000000;
}
