<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<div ng-app="UsuariosApp">

<div ng-controller="UsuariosCtrl"> 
	<div ng-show="error" class="alert alert-danger">{{error}}</div>
	
	<div class="table-responsive tableStyle">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>Nome</th>
					<th>Login</th>
					<th>Perfil</th>
					<th>Ação</th>
				</tr>
			</thead>
		  	<tr ng-repeat="usuario in usuarios">
		    	<td>{{ usuario.id_usuario }}</td>
		    	<td>{{ usuario.nome }}</td>
		    	<td>{{ usuario.login }}</td>
		    	<td>{{ usuario.perfil }}</td>
		    	<td>
		    		<a class="btn btn-success" ng-click="editar(usuario)" >editar</a>
		    		<a class="btn btn-danger"ng-click="apagar(usuario)" >apagar</a>
		    	</td>
		  	</tr>
			  
		</table>	
		<button ng-click="open()">Novo</button>
	</div>

</div>

</div>