 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script>
jQuery('.genericDatepicker').datetimepicker({
	lang:'pt',
	format:'d/m/Y',
	timepicker:false,
	closeOnDateSelect:true
});
</script> 
 <div ng-app="ReembolsoApp">
 <div ng-controller="ReembolsoAprovacaoController">
 <div class="form-group divMonthSelect">
    <center> <h1> Aprovação de Reembolso</h1> </center>
    <div ng-show="showMsg" ng-class="classMsgController">{{msgController}}</div>     
     
     <div style="float:left;">
      <label >De:</label>
	
      <input type="text" size="12" maxLength="10"  ng-model="filtroAprovacao.data_de"
             class="form-control genericDatepicker" placeholder="dd/mm/aaaa" ng-change="loadGrid()"/>
      
    </div> 
    <div style="padding-left:50px; float:left">
        <label >Até:</label>
     	<input type="text" size="12" maxLength="10"  ng-model="filtroAprovacao.data_ate" 
     	        class="form-control genericDatepicker" placeholder="dd/mm/aaaa" ng-change="loadGrid()"/>
     </div>
     <div style="padding-left:400px;">
        <label >Colaborador:</label>
     	<input type="text" size="12" maxLength="10"  ng-model="filtroAprovacao.colaborador" 
     	       class="form-control" placeholder="Digite o nome do Colaborador"
     	       typeahead="usuario as usuario.nome for usuario in getColaborador($viewValue)"
     	       typeahead-loading="loadingUsers" typeahead-on-select="loadGrid()" typeahead-min-length="3"/>
     	       
        <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh" required ></i>
     </div>
 </div>
        <div class="gridStyle" ng-grid="gridOptions"></div>
        
    </div>
</div>