<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
.form-control {
  
  display: inline-block;
  width: 340px;
  margin-bottom: 10px;
 
 } 
 
label{
	width: 35%;
} 
</style>
<div ng-app="UsuariosApp">

	<div class="form-group" style="padding: 2%">
		<div ng-show="error" ng-class="classMsg">{{error}}</div>
		
		<form  name="form" role="form">
			<center> <h3> Usuário</h3></center>
			<input  id="id_usuario" ng-model="usuario.id_usuario" ng-hide="true">			
			<input  id="" ng-model="usuario.id_usuario" ng-hide="true">
			
			<div>
            	<label for="">Número da Nota</label>           
            	<input type="text" name="" id="" ng-model="" class="form-control" required />            	
        	</div>
        	<div >
            	<label for="">Emissor</label>           
            	<input type="text" name="" id="" ng-model="" class="form-control" required />           	
        	</div>
        	
        	<div >
            	<label for="">Valor</label>           
            	<input type="text" name="" id="" ng-model="" class="form-control" required />            	
        	</div>
        	
        	<div >
            	<label for="usuario.senha">Tipo</label>
            	<select ng-model="usuario.ativo" required class="form-control">
            		<option value="1" >Ativo</option>
            		<option value="0">Inativo</option>
            	</select>            	
       		</div>
       		
		
			<div class="form-actions">
            	<input type="button" ng-disabled="form.$invalid || dataLoading" ng-click="save()" class="btn btn-danger" value="Salvar"/>
            	<input type="button" class="btn btn-warning" ng-click="cancel()" value="Cancelar"/>
            	<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        	</div>
        	 
		</form>	
	</div>
</div>