
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<div ng-app="LiberacaoControllerApp">
	<div ng-controller="LiberacaoController">
		<div class="form-group divMonthSelect">
			<div ng-show="msgController" ng-class="classMsgController">{{msgController}}</div>


			<div style="float: left; width: 300px">
				<label for="sel1">Colaborador:</label> 
				
					<input type="text"
						ng-model="colaborador" placeholder="Digite o nome do Colaborador"
						typeahead="usuario as usuario.nome for usuario in getColaborador($viewValue)"
						typeahead-loading="loadingLocations" class="form-control" >
				<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
			</div>
			<div style="margin-left: 400px; width: 150px">
				<label>Data:</label>
				
				<input ng-model="data" type="text" id="data" placeholder="dd-MM"
					class="form-control" ></input>
			</div>

		</div>
		<div style="text-align: right; width: 60%">
			<a class="btn btn-success" ng-click="liberarMes()" >Liberar</a>
			<a class="btn btn-danger" ng-click="bloquearMes()" >Bloquear</a>
		</div>
	</div>
</div>


<script>
	var currentDate = new Date();
	var maxDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), 0);
	jQuery('#data').datetimepicker({
		lang:'pt',
		format:'m/Y',
		timepicker:false,
		closeOnDateSelect:true,
		maxDate: maxDate
	});
</script>




